
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text&family=Roboto:wght@300;400&display=swap');

html {
    font-size: 20px;
}

* {
    font-family: 'Roboto';
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.title {
    color: white;
    font-family: 'Big Shoulders Stencil Text', sans-serif;
    font-size: 3rem;
}

.game-box {
    width: 50%;
    aspect-ratio: 9/6;
    border-style: solid;
    border-width: 5px;
    border-image: linear-gradient(red, purple) 30;
    border-radius: 15px;
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#game-log {
    grid-area: 1 / 1 / 2 / 2;
}

#game-field {
    grid-area: 1 / 2 / 2 / 5;
    box-sizing: border-box;
    border-left-style: solid;
    border-left-width: 5px;
    border-image: linear-gradient(red, purple) 30;

    display: flex;
    justify-content: center;
    align-items: center;
}

#game-board {
    display:grid;
    width: 70%;
    aspect-ratio: 1/1;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 2px solid #DD403A;
    border-radius: 5px;
}

.board-item {
    border: 2px solid #DD403A;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFCE8;
    font-size: 2.5rem;
    cursor: pointer;
}

#splash, #game-over {
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    background-color: rgb(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.splash-container, .gameover-container {
    width: fit-content;
    height: 200px;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: black;
    color: white;
    border: 4px solid red;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.player-name {
    display: flex;
    gap: 10px;
}

#game-log {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px 20px;
    justify-content: space-around;
}

#game-log * {
    color: white;
}

.player {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.your-turn {
    font-size: 0.5rem;
    box-sizing: border-box;
    padding: 5px 10px;
    background-color: green;
    width: fit-content;
    border-radius: 5px;
}

.timer {
    display: flex;
}

.play-game {
    background-color: black;
    border: 2px solid grey;
    width: fit-content;
    color: white;
    border-radius: 4px;;
    padding: 5px 10px;
    cursor: pointer;
}

.play-game:hover{
    background-color: grey;
}

.radio {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

input[type="radio"] {
    margin: 0;
    padding: 5px;
    height: 100%;
    -webkit-appearance: none;
    appearance: none;
    border: 2px solid red;
    border-radius: 100px;
}
